body {
    background-color: #333;
}
.container {
    border: 5px black solid;
    text-align: center;
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
}

h1, h2 {
    color:#222;
    display: block;
}

p {
    font-style: oblique;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a {
    font-size: 20px;
    color: #111;
    font-weight: bold;
}